$bg-primary-dark: #20262e;
$bg-secondary-dark: #3f3b6c;
$font-primary-dark: #e9e8e8;
$font-secondary-dark: #f6f7c1;

$bg-primary: #fff9d1;
$bg-secondary: #ffd4b2;
$font-primary: #354259;
$font-secondary: #11324d;
$logo-color: #f675a8;
