$bg-primary-dark : #20262E;
$bg-secondary-dark: #3F3B6C;
$font-primary-dark: #E9E8E8;
$font-secondary-dark : #F6F7C1;
$bg-primary : #FFD4B2;
$bg-secondary : #FFF6BD;
$font-primary : #354259;
$font-secondary : #11324D;
$logo-color: #F675A8;